USE [ProdBackup27Nov]
GO
/****** Object:  Table [dbo].[Dealer_Order_Update_Log]    Script Date: 03-12-2025 12:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealer_Order_Update_Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [bigint] NULL,
	[CartId] [bigint] NULL,
	[OldTotalPrice] [float] NULL,
	[NewTotalPrice] [float] NULL,
	[RefundAmount] [float] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[ActionType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
